{% extends "base.html" %}

{% block content %}
  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    h3 {text-align: center;}
    p2 {text-align: center;}
    h4 {text-align: center;}
    p3 {text-align: center;}
    body {background: linear-gradient(to bottom, #99ccff 0%, #ccccff 100%);}
    body2 {white-space: nowrap;}
  </style>

  <body>
    
    <h1> DSC 180A - Decentralized Location Consensus Through Proximity Tracing</h1>
    <p>Welcome to our DSC 180A project backend!</p>

    <h3>
      What is our project about?
    </h3>
    <p style = "width:80%; margin: auto;">
      The project focuses on the legitimacy of mobile device locations, 
      without compromising the privacy of its user. Several popular mobile 
      applications revolve around proximity to other devices, such as games 
      like Pokemon Go or dating apps like Tinder, Bumble, or Hinge. However, 
      it can be rather easy for people to spoof or alter their location data 
      for the sake of misleading these applications. Our project aims to 
      authenticate the location of mobile devices without violating the privacy 
      of its users.
    </p>

    <h4>
      Diagram Example
    </h4>
    <div style='text-align: center;'>
      {% load static %}
      <img src="{% static "diagram.png" %}" alt="test" />
    </div>
      

    <h4>
      Our Team
    </h4>
    <p>
      As the server team, our job is to recieve IDs that the phones 
      send and populate a black list to relay who is untrustworthy. We do this
      by considering the majority rule of BLE signals to authenticate the location
      of detected users.
    </p>
    <p><a href='{% url 'locationConsensus:api-root' %}'>Here you may access our API</a></p>

    <p><a href='https://docs.google.com/document/d/1b4y0zB06y4HQ-aKkMiU41FJzYceVkcxbxp7MhrSX6FE/edit?usp=sharing'>Here you may access our full report</a></p>

    <h2>Information stored in the database</h2>
    <ul>
      <li><strong>Interactions:</strong> {{ num_interactions }}</li>
      <li><strong>Number of Unique Users:</strong> {{ num_users }}</li>
    </ul>
  </body>
{% endblock %}