{% extends "base.html" %}

{% block content %}
  <h1>DSC 180A - Decentralized Location Consensus</h1>
  <p>Welcome to our DSC 180A project backend!</p>
  <h2>Information stored in the database</h2>
  <ul>
    <li><strong>Interactions:</strong> {{ num_interactions }}</li>
    <li><strong>Number of Unique Users:</strong> {{ num_users }}</li>
    <li><strong>Number of Unique Locations:</strong> {{ num_locations }}</li>
  </ul>
  <p><a href="{% url 'locationConsensus:api-root' %}">Link to API</a></p>
{% endblock %}