{% extends "base.html" %}

{% block content %}
<body>
  <h1>By simply going to this page the blacklist update script will run</h1>
  <h2>Information about Database related to running the script</h1>
  <ul>
    <li><strong>Blacklisted users before running:</strong> {{ num_blacklist_before }}</li>
    <li><strong>Blacklisted users after running:</strong> {{ num_blacklist_after }}</li>
    <li><strong>Number of interactions:</strong> {{ num_interactions }}</li>
  </ul>

  <h3>Some useful links for testing:</h3>
  <ul>
    <li><a href='{% url 'locationConsensus:api-root' %}'>API Link</a></li>
    <li><a href='{% url 'clearInteractions' %}'>Clear Interactions </a></li>
    <li><a href='{% url 'clearBlacklist' %}'>Clear Blacklist</a></li>
    <li><a href='{% url 'runScript' %}'>Update Blacklist</a></li>
  </ul>

</body>
{% endblock %}