<!DOCTYPE html>
<html lang="en">
  <header>
    {% load static %}
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </header>

  <body>
    
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'locationConsensus:api-root' %}">API</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/nahmann/DSC180-B16">Github</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'poster' %}">Poster</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/document/d/1b4y0zB06y4HQ-aKkMiU41FJzYceVkcxbxp7MhrSX6FE/edit?usp=sharing">Report</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://hdsishowcase.com/">HDSI Showcase</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <br>
    <br>

    <h1 class="text-center"> DSC 180A - Decentralized Location Consensus Through Proximity Tracing</h1>

    <h3>
      video 
    </h3>

    <h3>
      Example
    </h3>

    <div class="container ">
      <h3>
        Example
      </h3>
  
      <div class="row">
        <div class="col-sm">
          <img src=static/updated_diagram.png, alt="test" />
        </div>
        <div class="col-sm" id = "test">
          <p>
            Steps
            <br>
            1. The users are all physically at UCSD and have been physically near each other.
            One person, in this case Kat, decides to spoof/change their location on their phone with a VPN.
            As a result, Kat's phone is no longer declaring that it is in UCSD. All the other users are 
            still declaring their location to be at UCSD. As a result, the phones of Alice, Bob, Daniel, and Emily 
            all detect Kat's phone as being different and record her phone's ID. Kat's phone in return record 
            the ids of the others since their location is different from itself.
            <br>
            2. After an hour, the phones will send the IDs they have collected to the server. 
            <br>
            3. The server runs an a trust algorithm to determine whose phone was lying about it's 
            location. The algorithm we use was a majority voting system. In this example, Kat's 
            phone has the most votes and is identified as the liar.
            <br>
            4. Kat's phone ID is then stored in a blocklist after being identified as the person who 
            lied about their location.
          </p>
        </div>
      </div>
    </div>

    <h3>
      Project Info
    </h3>

    <h3>
      About us
    </h3>

    <h3>
      FAQ
    </h3>

    <!-- Bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  </html>